body{
	background-color: #2F2F2F;
	background-repeat: no-repeat;
	display: fixed;
	size: 100%;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	
}
h1 {
	font-family: "Times New Roman", Times, serif;
  }

  h2 {
	font-family: "Times New Roman", Times, serif;
  }

  h3 {
	font-family: "Times New Roman", Times, serif;
  }
.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999; 
	box-shadow: 0 0 10px red;
}
.navbar-header img{
	
    position:relative; top: 10px;
    padding-bottom: -5px;
        
    }
.featured_boks{
    width: 100%;
    height: 80vh;
    padding: 70px 0;

}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}




.featured_boks .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    margin: auto 20px;
}
.featurde_book_img:hover{
	transform: scale(1.3);
}

.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px red;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
    width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
    margin: 12px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #919191;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: #FF0000 ;
    margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
	background-color: #565656;
    text-decoration: none;
    color: orange;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn:hover{
	box-shadow: 0 0 5px red;
    padding: 8px 20px;
	background-color: #565656;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px red;
}

::-webkit-scrollbar-thumb{
    background: red;
    border-radius: 10px;
}








.other-books{
    width: 100%;
    height: 80vh;
    padding: 70px 0;

}

.other-books h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-books h3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-books .other_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;

}

.other-books .other_book_box .other_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    margin: auto 20px;
}
.other_book_img:hover{
	transform: scale(1.3);
}

.other-books .other_book_box .other_book_card:hover{
    box-shadow: 0 0 5px red;
}

.other-books .other_book_box .other_book_card .other_book_img img{
    width: 150px;
}

.other-books .other_book_box .other_book_card .other_book_tag h2{
    margin: 12px;
}

.other-books .other_book_box .other_book_card .other_book_tag .writer{
    color: #919191;
}

.other-books .other_book_box .other_book_card .other_book_tag .categories{
    color: #089da1;
    margin-top: 8px;
}

.other-books .other_book_box .other_book_card .other_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.other-books .other_book_box .other_book_card .other_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.other-books .other_book_box .other_book_card .other_book_tag .f_btn{
    padding: 8px 20px;
	background-color: #565656;
    text-decoration: none;
    color: orange;
}
.other-books .other_book_box .other_book_card .other_book_tag .f_btn:hover{
	box-shadow: 0 0 5px red;
    padding: 8px 20px;
	background-color: #565656;
    text-decoration: none;
    color: orange;
}

footer{
	position: fixed;
	bottom: 0;
	background: black;
	height: 50px;
	width: 100vw;
}
/*content*/
.footer{
    background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #2A3439;
}

/*social -media*/
.socials{
    position:relative; right: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;	
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}
/* copyright*/
.footer-copyright{
    background: #000;
    width: 100%;
    padding: 0px;
}
.footer-copyright p{
    font-size: 14px;
    word-spacing: 2px;
    align-items: center;
    justify-content: center;
	display: auto;
}



