*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
Body{
height: 70vh;
background-color: black;
background-image: url("ShopRed.jpg");
background-size:70% 100%;
background-repeat: no-repeat;
display: fixed;
background-position: center;
}
.nav{
	box-shadow:red;
	
}
.navbar .navbar-brand{
    color:red;
    

}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar{
	color:red;
	
}
.navbar{
	box-shadow: 0 0 10px red;

}
.Navbar-header{
	 color: red;
}



footer{
	position: fixed;
	bottom: 0;
	background: black;
	height: 50px;
	width: 100vw;
}
/*content*/
.footer{
    background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #2A3439;
}

/*social -media*/
.socials{
position:relative; left: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;	
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}
.socials a:hover i{
    color: dodgerblue;
}

.floating {  
position:relative; right: 15px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
	font-family:"MV Boli";
	
	
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    40%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -1px); }  
	
}



.discount{
	  overflow: hidden;
      height: 400px;	
      margin-left: 0px;
      margin-top: 20px;
	  display: flex;
	}

.discount .discount-box .discount-image img{
	position:relative; top: 200px;
	position:center;
    height: 35vh;
    margin: 10px auto;
    display: flex;

}


  /*---------- SLIDE ANIMATION --------------*/
 
 
  @keyframes slide_animation{
	  0%  {right:-20px;}
      10% {right:-20px;}
      20% {right:480px;}
      30% {right:480px;}
      40% {right:980px;}
      50% {right:980px;}
      60% {right:480px;}
      70% {right:480px;}
      80% {right:-20px;}
      90% {right:-20px;}
      100%{right:-20px;}
  }
   @-webkit-keyframes slide_animation{
	  0%  {right:-20px;}
      10% {right:-20px;}
      20% {right:480px;}
      30% {right:480px;}
      40% {right:950px;}
      50% {right:950px;}
      60% {right:480px;}
      70% {right:480px;}
      80% {right:-20px;}
      90% {right:-20px;}
      100%{right:-20px;}
   }
 
  .discount-box{
      width: 100%;
	  margin: 0 0 0 0;
      height:400px;
      position: relative;
      -webkit-animation-name: slide_animation;
      animation-name: slide_animation;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      -webkit-animation-play-state: running;
      animation-play-state: running;
  }
 
  .discount-image{
      height: 400px;
      width: 500px;
      position: center;
      float: center;
  }
